// Estiliza padrão da home //
//Teste
//*{border:1px solid red;}

// DEFINE CORES PARA OS SEGMENTOS //
// Excelencia
@color-exc: #40ffd3;

// Especialização
@color-esp: #ff6d00;

// Aperfeiçoamento
@color-aperf: #6abf00;

// Imersão
@color-ime: #38e8c0;

// Cursos Modulares
@color-mod: #ffeb00;
