// Estiliza padrão da home //
//Teste
//*{border:1px solid red;}

// FUNÇÕES E VARIAVES //
// Reseta autura de um box que contem elementos flutuantes
.clearboth {&:after { content: " "; display: block; height: 0; clear: both; font-size: 0; visibility: hidden; }}



// DEFINE CORES PARA OS SEGMENTOS //
// Excelencia
@color-exc: #40ffd3;

// Especialização
@color-esp: #ff6d00;

// Aperfeiçoamento
@color-aperf: #6abf00;

// Imersão
@color-ime: #38e8c0;

// Cursos Modulares
@color-mod: #ffeb00;



