// FUNÇÕES E VARIAVES //
// Reseta autura de um box que contem elementos flutuantes
.clearboth {&:after { content: " "; display: block; height: 0; clear: both; font-size: 0; visibility: hidden; }}


// DEFINE CORES PARA OS SEGMENTOS //
// Excelencia
@color-exc: #40ffd3;

// Especialização
@color-esp: #ff6d00;

// Aperfeiçoamento
@color-aperf: #6abf00;

// Imersão
@color-ime: #38e8c0;

// Cursos Modulares
@color-mod: #ffeb00;

// DEFINE PADRAO DAS PAGINAS //
// Autura 100%
html, body{ height: 100%}

//Teste
//*{border:1px solid red;}



/////////////////////////////
// Estiliza padrão da home //

// Header
header{
    // identifica
    border: 1px solid red;
    height: 100%; // Define altura apatir de body
    width: 100%;  // Define largura
    margin: 0px!important; // remove margin

    // define estilo do menu de segmentos
    .segmento-group{
        .clearboth(); //reseta os left
        margin: 0; // remove a margin
        padding: 0; // remove padding
        width: 20%; // define largura de 20% proporcional a 1/5
        height: 100%; // altura de 100% apartir do header

        .segmento-group-info{
            height: 50%;
        }





        // CONFIG SEGMENTOS
        // Define background
        &.excelencia{ background-color: @color-exc}
        &.especializacao{ background-color: @color-esp}
        &.aperfeicoamento{ background-color: @color-aperf}
        &.imersao{ background-color: @color-ime}
        &.cursos-modulares{ background-color: @color-mod}
    }
}
